* {
    box-sizing: border-box;
	overflow-x: hidden;
}


body {
	margin:0;
	font-family:Arial;
	font-size:12px;
	background: #222021;
}
.topo {
	height:30px;
	background-color:#333;
	color:#FFF;
}
.topoint {
	width:100vw;
	max-width:1040px;
	height:30px;
	margin:auto;
}
.topoleft {
	width:50%;
	height:30px;
	float:left;
}
.toporight {
	width:50%;
	height:28px;
	float:right;
	text-align:right;
	margin-top:2px;
}
.topoleft ul {
	margin:0;
	padding:0;
	list-style: none;
}
.topoleft li {
	height:30px;
	line-height:30px;
	float:left;
	margin-left:8px;
	margin-right:8px;
}
.topoleft li a {
	text-decoration: none;
	color:#FFF;
}
.topoleft li .ativo {
	color:blue;
}
.topobusca {
	width: 300px;
    height: 21px;
    outline: 0;
    
}
.toporight a {
	float:right;
}
.toporight input {
	float:right;
}
.toporight img {
	margin-right:4px;
}

.topo2 {
	height:95px;
	color:white;
	background: #222021;
}
.topo2int {
	width:100vw;
	max-width:1040px;
	height:95px;
	margin:auto;
}
.logo{
    width: 230px;
    height: 90px;
    float: left;
    margin-top: 1px;
	overflow-y: hidden;
}
.topo2 .banner{
width: 590px;
height: 60px;
float: right;
margin-top: 7px;
background-image:linear-gradient(180deg,#190B52,#30159E,#3812cf, #3b13db,#2C06EB,#2609EB);
color: white;
font-size: 35px;
font-family: Stencil Regular, Arial, Helvetica, sans-serif;
text-align: center;
line-height: 60px;
margin-top: 20px;
border-radius: 20px}
.menu {
	width: 100vw;
	height:40px;
	background-image:linear-gradient(180deg,#190B52,#30159E,#3812cf, #3b13db,#2C06EB,#2609EB);
}
.menuint {
	width:100vw;
	overflow: hidden;
	height:40px;
	display: block;
	
}
.menu ul {
	margin:0;
	padding:0;
	list-style: none;
}
.menu li {
	float:left;
	height:40px;
	line-height: 40px;
	padding-left:8px;
	padding-right:8px;
}
.menu li:hover .submenu {
	display:block;
	
	
}
.menu a {
	color:#FFF;
	text-decoration: none;
}
.submenu {
	width:150px;
	background-image:linear-gradient(180deg,#190B52,#30159E,#3812cf, #3b13db,#2C06EB,#2609EB);
	position:absolute;
	display:none;
}
.submenuitem {
	width:150px;
	height:50px;
	line-height:30px;
	padding-left:10px;
}
.submenuitem:hover {
	background-color:#2f2d91;
}



.slider {
	flex: 1;
    width: 100vw;
    height: 440px;
    overflow: hidden;
}
.slider--width {
    height: 100%;
    display: flex;
    transition: all ease 0.5s;
}
.slider--item {
    width: 100%;
    height: inherit;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkorange;
    text-shadow: 0px 1px 1px #333;
    font-size: 50px;
}
.slider--controls {
    position: absolute;
    z-index: 99;
	width: 95vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider--control {
    width: 30px;
    height: 30px;
    background-image:linear-gradient(180deg,#190B52,#30159E,#3812cf, #3b13db,#2C06EB,#2609EB);
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
	
}
.conteudoabaixo{
	width: 100vw;
	height: 580px;
	overflow-y: hidden;
	
}
.Titulo{

height: 40px;
width: 100vw;
background-image:linear-gradient(180deg,#190B52,#30159E,#3812cf, #3b13db,#2C06EB,#2609EB);
text-align: center;
line-height: 40px;
font-size: 20px;
color: #FFF;
}
.img img{
width: 100vw;
overflow: hidden;
}


.tituloproduto{
	color: #FFF;
}


section{
	background-image:linear-gradient(180deg,#190B52,#30159E,#3812cf, #3b13db,#2C06EB,#2609EB);
	width: 100vw;
}


.models {
    display:none;
}


.menu-openner {
    margin-right: 15px;
    font-size: 26px;
    background-color: #a9dcff;
    padding: 5px 20px;
    border-radius: 5px;
}
.menu-openner span {
    margin-right:10px;
}
.menu-closer {
    width:32px;
    height:32px;
    display:none;
    font-size: 30px;
}

aside {
    background-color:#9ccbe6;
    width:0vw;
    font-family:'Hepta Slab', Helvetica, Arial;
    transition:all ease .2s;
    overflow-x:hidden;
}
aside.show {
    width:30vw;
}
.cart--area {
    padding:20px;
}
footer {
   
    flex:1;
    padding:20px;
}
h1 {
    font-family:'Hepta Slab', Helvetica, Arial;
	text-align: center;
    
}
.pizza-area {
   
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}
.pizza-item {
    
    text-align: center;
    max-width:250px;
    font-family:'Hepta Slab', Helvetica, Arial;
    margin:0 auto 50px auto;
}
.pizza-item a {
    display:flex;
    flex-direction: column;
    align-items:center;
    text-decoration: none;
}
.pizza-item--img {
    width:200px;
    height:200px;
    background-color:#EEE;
    border-radius:10px;
    box-shadow:0px 10px 50px rgba(0, 0, 0, 0.2);
	overflow-y: hidden;
}
.pizza-item--img img {
    width:100%;
    height:auto;
}
.pizza-item--add {
    width:200px;
    height:30px;
    line-height:30px;
    border-radius:5px;
    background-color:#388bc5;
    text-align:center;
    color:#FFF;
    font-size:22px;
    cursor:pointer;
    margin-top:-25px;
    transition:all ease .2s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pizza-item a:hover .pizza-item--add {
    background-color:#244c88;
}
.pizza-item--price {
    font-size:15px;
    color:#00ff2a;
    margin-top:5px;
}
.pizza-item--name {
    font-size:20px;
    font-weight: bold;
    color:#CCC;
    margin-top:5px;
}
.pizza-item--desc {
    font-size:13px;
    color:#CCC;
    margin-top:10px;
}

.pizzaWindowArea {
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-color:rgba(255, 255, 255, 0.5);
    display:none;
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y:auto;
}
.pizzaWindowBody {
    width:900px;
    background-color:#FFF;
    border-radius:10px;
    box-shadow:0px 0px 15px #999;
    display:flex;
    margin:20px 0px;
}
.pizzaBig {
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}
.pizzaBig--back {
    position:absolute;
    width:30px;
    height:30px;
    background-color:#000;
}
.pizzaBig img {
    height:400px;
    width:auto;
}
.pizzaInfo {
    flex:1;
    font-family:'Hepta Slab', Helvetica, Arial;
    padding-bottom:50px;
}
.pizzaInfo h1 {
    margin-top:50px;
}
.pizzaInfo .pizzaInfo--desc {
    font-size:15px;
    color:#999;
    margin-top:10px;
    font-family:'Lato',Helvetica,Arial;
}
.pizzaInfo--sector {
    color:#CCC;
    text-transform: uppercase;
    font-size:14px;
    margin-top:30px;
    margin-bottom:10px;
}
.pizzaInfo--sizes {
    display:inline-flex;
    border-radius:10px;
    overflow:hidden;
}
.pizzaInfo--size {
    padding:10px 15px;
    color:#000;
    background-color:#EEE;
    font-size:13px;
    font-weight: bold;
    cursor:pointer;
}
.pizzaInfo--size:hover {
    background-color:#CCC;
}
.pizzaInfo--size.selected {
    background-color:#399ade;
    color:#FFF;
}
.pizzaInfo--size.selected span {
    color:#D6D6D6;
}
.pizzaInfo--size span {
    font-size:12px;
    color:#999;
    font-weight: normal;
}
.pizzaInfo--price {
    display:flex;
    align-items:center;
}
.pizzaInfo--actualPrice {
    font-size:28px;
    margin-right:30px;
}
.pizzaInfo--qtarea {
    display:inline-flex;
    background-color:#EEE;
    border-radius:10px;
    height:30px;
}
.pizzaInfo--qtarea button {
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
}
.pizzaInfo--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color:#000;
}
.pizzaInfo--addButton {
    margin-top:30px;
    padding:20px 30px;
    border-radius:20px;
    background-color:#48d05f;
    color:#FFF;
    display:inline-block;
    cursor:pointer;
    margin-right:30px;
}
.pizzaInfo--addButton:hover {
    background-color:#32a345;
}
.pizzaInfo--cancelButton {
    display:inline-block;
    cursor:pointer;
    
}
.pizzaInfo--cancelMobileButton {
    display:none;
    height:40px;
    text-align:center;
    line-height: 40px;
    margin-bottom:30px;
}
.cart {
    margin-bottom:20px;
}
.cart--item {
    display:flex;
    align-items:center;
    margin:10px 0;
}
.cart--item img {
    width:40px;
    height:40px;
    margin-right:20px;
}
.cart--item-nome {
    flex:1;
}
.cart--item--qtarea {
    display:inline-flex;
    background-color:#EEE;
    border-radius:10px;
    height:30px;
}
.cart--item--qtarea button {
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
}
.cart--item--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color:#000;
}
.cart--totalitem {
    padding:15px 0;
    border-top:1px solid #79b9dd;
    color:#315970;
    display:flex;
    justify-content: space-between;
    font-size:15px;
}
.cart--totalitem span:first-child {
    font-weight: bold;
}
.cart--totalitem.big {
    font-size:20px;
    color:#000;
    font-weight: bold;
}
.cart--finalizar {
    padding:20px 30px;
    border-radius:20px;
    background-color:#48d05f;
    color:#FFF;
    cursor:pointer;
    text-align:center;
    margin-top:20px;
    border:2px solid #63f77c;
    transition: all ease .2s;
}
.cart--finalizar:hover {
    background-color:#35af4a;
}




.rodape{
	height: 25vw;
	overflow-y: hidden;
}
.rodapeint{
	margin: 0;
	position: inherit;
	float: left;
   
   
    
   
}
.conteudorpe{
	
	margin-top: 20px;
	margin-bottom: 30px;
	margin-right: 30px;
	margin-left: 30px;
	
}
.conteudorpe footer{
	display: inline-block;
	margin-right: 16px;
	margin-left: 16px;
	overflow: hidden;
	color: #CCC;
}

.animation {

    animation: alerta 1.5s infinite;
  
  }
  
 .botao {
  
    background: #09a513;
    color: white;
    border: 1px solid #09a513;
    border-radius: 60px;
    box-shadow: 0 0 0 0 rgba(9, 165, 19, 0.50);
    font-size: 30px;
    display: inline-block;
    text-align: center;
    width: 60px;
    height: 60px;
    line-height: 55px;
    text-decoration: none;
    transition: background, padding 500ms ease-in-out;  
    margin-left: 90%;
    margin-top: 10px;
   
  
  }
  .autorais{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 10px;
    color: #000;
  }
  @keyframes alerta {
    0% {
      transform: scale();
    }
    70% {
      transform: scale();
      box-shadow: 0 0 0 50px rgba(69, 152, 27, 0);
    }
      100% {
      transform: scale();
      box-shadow: 0 0 0 0 rgba(69, 152, 27, 0);
    }
  }


@media (max-width:1000px) {
    .pizza-area {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:840px) {
    body {
        flex-direction: column;
    }
    .pizza-area {
        display:block;
    }
    .pizza-item {
        max-width:100%;
    }
    header {
        display:flex;
    }
    main {
        padding-top:60px;
    }

    aside {
        width:auto;
        position:fixed;
        left:100vw;
        right:0;
        top:0;
        bottom:0;
        transition: all ease .2s;
    }
    aside.show {
        width:auto;
    }
    .cart--area {
        width:100vw;
    }

    .menu-closer {
        display:block;
    }

    .pizzaWindowArea {
        justify-content:flex-start;
        align-items: flex-start;
    }

    .pizzaWindowBody {
        width:100vw;
        display:block;
        padding:20px;
        border-radius:0;
        box-shadow:none;
        margin:0;
    }

    .pizzaBig img {
        width: 75%;
        height: auto;
    }

    .pizzaInfo h1 {
        margin-top:20px;
    }

    .pizzaInfo--qtarea {
        height:60px;
    }
    .pizzaInfo--qtarea button {
        font-size:25px;
        padding:0px 25px;
    }
    .pizzaInfo--qt {
        line-height: 60px;
        font-size:20px;
    }
    .pizzaInfo--addButton {
        font-size:20px;
        display:block;
        text-align:center;
        margin:30px auto;
    }

    .pizzaInfo--cancelButton {
        display:none;
    }
    .pizzaInfo--cancelMobileButton {
        display:block;
    }
}






.menumobile {
	display:none;
}
@keyframes alerta {
	0% {
	  transform: scale();
	}
	70% {
	  transform: scale();
	  box-shadow: 0 0 0 50px rgba(69, 152, 27, 0);
	}
	  100% {
	  transform: scale();
	  box-shadow: 0 0 0 0 rgba(69, 152, 27, 0);
	}

  }